/* Main Game CSS */
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Bilbo+Swash+Caps&family=Montserrat:wght@300&display=swap');
* {
  font-family: 'Bilbo', cursive;
  text-transform: uppercase;
}

h1, h3 {
  text-align: center;
  font-weight: 900;
}

.main-game {
  width: 1000px;
  margin: 0 auto 10%;
  position: relative;
}

.exit-button-container {
  position: absolute;
  background: white;
  z-index: 12;
  padding: 0.5% 1% 0.5% 0.5%;
  right: 0;
  top: -2%;
  border-radius: 50%;
}

/* NavBar css */
.top-nav {
  height: 55px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
}

.nav-bar-item {
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin-top: 3px;
}

.single-line-item {
  transform: translateY(50%);
}

.turn-line {
  transform: translateY(31%);
}

.left-bottom-nav, .right-bottom-nav {
  display: flex;
  justify-content: space-between;
}

.left-bottom-nav { width: 65%; }

.right-bottom-nav { width: 18%; }

.button {
  box-shadow: 3px 3px;
  width: 96px;
  height: 23px;
  margin-top: 5px;
  border-radius: 20px;
  border: solid 2px #000;
  font-weight: bold;
  font-size: 0.9rem;
}

.button:focus {
  box-shadow: 1px 1px;
  margin-top: 7px;
  height: 19px;
  font-size: 0.8rem;
}

.button:hover {
  box-shadow: 4px 4px;
  font-size: 1rem;
  margin-top: 1px;
  height: 26px;
}

.stats {
  margin-top: 5px;
  padding: 9px;
  background: #ccc;
  border-radius: 80%;
  font-size: 0.8rem;
}

.info-button {
  box-shadow: 3px 3px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid 2px #000;
  font-weight: bold;
  font-size: 2rem;
}

.info-button:hover {
  box-shadow: 4px 4px;
  font-size: 2.2rem;
  height: 39px;
}

.active {
  background: #d3d3d3;
}

/* Tool Tips CSS */
.tip {
  position: absolute;
  width: auto!important;
  background: white;
  padding: 1%;
  border: solid 2px #000;
  border-radius: 5px;
  font-size: 0.7rem;
  box-shadow: 2px 2px #ccc;
  text-shadow: 1px 1px #ccc;
  z-index: 20;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-10px);}
  60% {-webkit-transform: translateY(-5px);}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.low-food, .starvation {
  top: -3%;
  left: 27.5%;
}

.high-risk {
  top: -3%;
  right: 10.5%;
}

.population-limit {
  top: -3%;
  left: 8.5%;
}

.high-risk, .starvation {
  box-shadow: 0.5px 0.5px 2px 2px #871229;
}

.low-food, .population-limit {
  box-shadow: 0.5px 0.5px 2px 2px #edc472;
}

/* Info CSS */
.info-console {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.info-div {
  width: 30%;
  border: solid 2px #000;
  margin-top: 3%;
  padding: 3% 1% 1% 1%;
  border-radius: 5px;
  position: relative;
}

.info-div > h2 {
  font-weight: bold;
  position: absolute;
  text-align: center;
  left: 50%;
  top: -7%;
  transform: translate(-50%,-50%);
  background: white;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2% 3%;
}

.info-div > p, .info-div > ul {
  font-size: 0.8rem;
  font-weight: bold;
}

/* Main Console CSS */
.console {
  width: 910px;
  border-left: solid 2px black;
  border-right: solid 2px black;
  margin: 1% auto;
  height: 480px;
  position: relative;
}

/* Settlement CSS */
.settlement-console {
  position: relative;
  width: 100%;
  height: 100%;
}

.settlement-console > div {
  position: absolute;
  width: 25%;
}

.settlement-console > div > div {
  display: inline-block;
}

.mining-div {
  top: 30%;
  left: 5%;
}

.strength-div {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.meadows-div {
  top: 23%;
  right: 5%;
}

.fishing-div {
  bottom: 10%;
  left: 5%;
}

.lore-div {
  bottom: 15%;
  left: 45%;
}

.farming-div {
  bottom: 5%;
  right: 5%;
}

.round-button-container {
  height: 35px;
  width: 35px;
  margin: 10px 5%;
}

.round-button-container:hover {
  margin: 0px 5%;
}

.button-round {
  box-shadow: 3px 3px;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 20px;
  border: solid 2px #000;
  text-align: center;
  padding: 0px 2px 8px 2px;
  font-size: 2rem;
  font-weight: bold;
}

.button-round:hover {
  box-shadow: 4px 4px;
  width: 32px;
  height: 32px;
  margin-top: 2px;
}

.settlement-stats {
  transform: translateY(30%);
}

.workers {
  position: relative;
  height: 75px;
}

.workers img {
  height: 25px;
  position: absolute;
}

#worker-1 {bottom: 5%; right: 40%;}
#worker-2 {top: 20%; left: 33%;}
#worker-3 {bottom: 40%; left: 70%;}

.strength-workers {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.farming-workers { bottom: 14%; right: 10%; }

.fishing-workers { bottom: 20%; left: 0%; }

.lore-workers { bottom: 23%; left: 39%; }

.meadow-workers { top: 12%; right: 10%; }

.mining-workers { top: 16%; left: 0%; }

/* Tech CSS */
.techs-div {
  padding: 1%;
}

.techs-div > div {
  width: 98%;
  height: 103px;
  margin: 0 auto;
  border: solid 1px #ccc;
  display: flex;
  justify-content: space-between;
}

.date {
  width: 15%;
  padding: 0 1%;
  text-align: center;
  position: relative;
}

.date > h4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -11%;
  background: white;
  padding: 1%;
  border: solid 2px #000;
  border-radius: 5px;
}

.roman-date {
  font-size: 3.5rem;
  border: solid 2px #000;
  font-weight: 900;
  border-radius: 50%;
  margin-top: 22%;
}

.era-techs {
  width: 81%;
  display: inline-flex;
  justify-content: space-between;
}

.era-techs > div {
  position: relative;
}

.fishing-techs, .hunting-techs, .population-techs, .lore-techs {
  width: 12%;
}

.farming-techs, .mining-techs {
  width: 26%;
}

.era-techs > div > div {
  position: absolute;
  border: solid 2px #000;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  box-shadow: 2px 2px #ccc;
}

#megastructure-div {
  width: 40px;
  height: 40px;
}

.fishing-techs > div, .hunting-techs > div, .population-techs > div, .lore-techs > div {
  left: 50%;
  transform: translateX(-50%);
}

/* FIRST ERA POSITIONS */
.primitive-hunting { top: 19%; }

.spear-hunting { top: 60%; }

.primitive-farming { top: 5%; left: 20%; }

.cultivation { top: 55%; left: 20%; }

.mudbrick-construction { top: 15%; }

.advanced-stone-tools { top: 10%; left: 30%; }

.advanced-stone-weapons { top: 60%; left: 20%; }

.mining { top: 40%; right: 20%; }

.meeting-of-tulkas { top: 13%; }

/* SECOND ERA POSITIONS */
.boat { top: 5%; }

.oar { top: 50%; }

.animal-medicine { top: 15%; }

.irrigation { top: 12%; left: 15%; }

.bread { top: 12%; right: 40%; }

.trade { top: 60%; right: 10%}

.stone-brick-construction { top: 15%; }

.copper-working { top: 10%; left: 20%; }

.copper-weapons { top: 60%; left: 20%;}

.metallurgy { top: 50%; right: 30%; }

.lore { top: 13%; }

/* Third Era Positions */
.sail { top: 40%; }

.animal-breeding { top: 10%; }

.plow { top: 10%; left: 15%; }

.currency { top: 8%; right: 40%; }

.writing { top: 1%; right: 10%; }

.code-of-law { top: 50%; right: 10%;}

.city-planning { top: 55%; left: 10%; }

.megastructure { top: 54%; }

.bronze-working { top: 15%; left: 20%; }

.riding { top: 15%; right: 10%; }

.bronze-weapons { top: 45%; right: 35%; }

.valar { top: 15%; }

.tech-info-div {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.tech-description {
  border: solid 1px #666;
  border-radius: 5px;
  padding: 1%;
  height: 80px;
  margin: 2% 0.5%;
  width: 50%;
  font-weight: 900;
}

.tech-pts-headers, .tech-pts {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  font-size: 0.9rem;
}

.tech-pts-headers > h4, .tech-pts > div {
  display: inline-block;
  width: 47%;
  text-align: center;
  padding: 1% 0;
}

.tech-pts-headers > h4 {
  border: solid 2px black;
  border-radius: 5px;
}

.tech-description .title {
  font-weight: 900;
}

.tech-description .requirements {
  color: #871229;
  font-weight: 600;
}

.tech-description .description {
  font-weight: 500;
}

.tech-description .requirements, .tech-description .description, .tech-description .title {
  font-size: 0.8rem;
}

.tech-description p {
  margin: 5px;
}

.built {
  box-shadow: 0.5px 0.5px 2px 2px #edc472!important;
}

.selected {
  box-shadow: 0.5px 0.5px 2px 2px #BDF77C!important;
}

/* Buildings CSS */
.buildings-div, .buildings-info-div {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.building {
  width: 24%;
  height: 100px;
  border: solid 1px #666;
  margin-top: 1%;
  border-radius: 5px;
}

.buildings-info-div {
  padding-top: 2%;
}

.building-description {
  border: solid 1px #666;
  border-radius: 5px;
  padding: 1%;
  width: 50%;
  font-size: 0.9rem;
  height: 80px;
}

.building-production {
  text-align: center;
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.building-production > h4 {
  margin-top: 1% 0;
}

.production-points {
  width: 55%;
}

.production-pts {
  background: #ccc;
  border-radius: 50%;
  width: 50px;
  margin: 5px auto;
  padding: 5;
}

.build-button {
  margin: auto;
  padding: 13.6px;
  text-align: center;
  width: 64.3px;
}

.build-button:hover {
  margin: auto;
}

.production-points h4 {
  border: solid 2px black;
  border-radius: 5px;
}

/* Help CSS */
.help-console {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  margin: 5% auto;
}

.help-div {
  width: 32%;
  border: solid 1px #666;
  margin-top: 1%;
  border-radius: 5px;
  position: relative;
  height: 48%;
}

.help-div > div {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 90%;
  border-radius: 5px;
  border: solid black 2px;
  font-size: 0.7rem;
  height: 60px;
  padding: 0 3%;
  font-weight: 900;
}

/* Menu CSS */
.menu-console {
  position: relative;
  width: 100%!important;
  height: 100%;
  z-index: 12;
}

.menu-popup {
  position: absolute;
  height: 115px;
  border: solid black 2px;
  padding: 5%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px #ccc;
  background-color: white;
}

.exit-restart-div { width: 230px; }

.exit-button, .restart-button, .close-button { margin: 4%; padding: 10% }

.opaque { background: rgba(60, 60, 60, 0.1); }
